.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(213, 215, 206); /* rgba(213, 215, 206) */
  overflow: hidden;
}

