* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FBF5E5;
    overflow: hidden;
    font-family: 'Courier New', monospace;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

