* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(213, 215, 206); /* rgba(213, 215, 206) */
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

